$teal-color: #57D9A6;
$teal-color-hover:#39916e;
$blue-main-color:#23233B;
$blue-darker-color: #1C1C33;
$text-light-color:#F6F6F8;
//========================================================================
* {padding: 0; margin: 0; border: 0;}
*, *:before, *:after {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
:focus, :active {outline: none;}
a:focus, a:active {outline: none;}
nav, footer, header, aside {display: block;}
html, body {height: 100%; width: 100%; line-height: 1; font-size: 14px; -ms-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}
input, textarea, button {font-family: inherit;}
input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0; border: 0;}
a, a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}
h1, h2, h3, h4, h5, h6 {font-size: inherit; font-weight: inherit;}
//========================================================================
::selection {
    background-color: $teal-color;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-width: 320px;
}
//========================================================================
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    background-color: $text-light-color;
}
._container {
    max-width: 1306px;
    margin: 0 auto;
    padding: 0 15px;
}
@keyframes levitation-big {
    0% {
        transform:translate(0, 0);
    }
    50% {
        transform:translate(0, 70px);
    }
    100% {
        transform:translate(0, 0);
    }
}
@keyframes levitation-middle {
    0% {
        transform:translate(0, 0);
    }
    50% {
        transform:translate(0, 50px);
    }
    100% {
        transform:translate(0, 0);
    }
}
@keyframes levitation-small {
    0% {
        transform:translate(0, 0);
    }
    50% {
        transform:translate(0, 30px);
    }
    100% {
        transform:translate(0, 0);
    }
}
@keyframes levitation-horizontal-big {
    0% {
        transform:translate(-15px, 0);
    }
    25% {
        transform:translate(0, 0);
    }
    50% {
        transform:translate(15px, 0);
    }
    75% {
        transform:translate(0, 0);
    }
    100% {
        transform:translate(-15px, 0);
    }
}
@keyframes levitation-horizontal-small {
    0% {
        transform:translate(-10px, 0);
    }
    25% {
        transform:translate(0, 0);
    }
    50% {
        transform:translate(10px, 0);
    }
    75% {
        transform:translate(0, 0);
    }
    100% {
        transform:translate(-10px, 0);
    }
}
//========================================================================
.page {
    flex: 1 1 auto;
}
//========================================================================
.top {
    z-index: 50;
}
.advertisement {
    width: 100%;
    position: relative;
    background-color: $teal-color;
    z-index: 51;
}
.advertisement__text {
    padding: 8px 15px;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #1C1C33;
    transform: translate(0, 120%);
    opacity: 0;
    transition: all 0.6s ease 0s;
    animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
    animation-name: levitation-horizontal;
    @media (min-width:767.98px) {
        animation-name: levitation-horizontal-big;

    }
    @media (max-width:767.98px) {
        animation-name: levitation-horizontal-small;

    }
}
.advertisement__text._active {
    transform: translate(0, 0);
    opacity: 1;
}
//========================================================================
.header {
    padding: 30px 0;
    z-index: 50;
    width: 100%;
    position: absolute;
}
.header::before {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: $blue-darker-color;
}
.header__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.header__logo {
    position: relative;
    z-index: 3;
}
.header__logo {
    position: relative;
    z-index: 3;
}
header .menu__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    position: relative;
    z-index: 2;
}
header .menu__link {
    font-size: 18px;
    line-height: 150%;
    color: $text-light-color;
    position: relative;
    z-index: 3;
}
header .menu__link:hover {
    text-decoration: underline;
}
.header__basket {
    position: relative;
    z-index: 3;
}
.header__basket_img {
    transition: all 0.3s ease 0s;
}
.header__basket_img:hover {
    transform: scale(1.15);
}
.header__burger {
    display: none;
}
@media (max-width: 1024px) {
    .header {
        padding: 20px 0;
    }
}
@media (max-width: 767.98px) {
    .advertisement__text {
        padding: 5px 15px;
        font-size: 16px;
    }
    .header {
        padding: 15px 0;
        z-index: 50;
    }
    .top {
        position: fixed;
        width: 100%;
    }
    body.lock {
        overflow: hidden;
    }
    .header__logo_img {
        width: 85%;
    }
    .header__burger span {
        position: absolute;
        height: 2px;
        background-color: $text-light-color;
        left: 0;
        width: 100%;
        top: 11px;
        transition: all 0.3s ease 0s;
    }
    .header__burger {
        display: block;
        position: relative;
        width: 40px;
        height: 25px;
        z-index: 3;
    }
    .header__burger:before,
    .header__burger:after {
        content: '';
        background-color: $text-light-color;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before{
        top: 0;
    }
    .header__burger:after{
        bottom: 0;
    }
    .header__burger.active span {
        transform: scale(0);
    }
    .header__burger.active:before {
        transform: rotate(45deg);
        top: 11px;
    }
    .header__burger.active:after {
        transform: rotate(-45deg);
        bottom: 12px;
    }
    header .menu__list {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }
    .header__menu {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: #131324;
        transition: all 0.3s ease 0s;
        padding: 150px 20px 20px 20px;
        overflow:auto;
    }
    .header__menu.active {
        left: 0;
    }
    .menu__item:not(:last-child) {
        margin-right: 0;
    }
    header .menu__link {
        font-size: 26px;
        font-weight: 700;
    }
    .header__basket {
        position: fixed;
        right: 75px;
    }
}
//========================================================================
.page__main__block {
    background-color: $blue-main-color;
    padding-top: 292px;
    padding-bottom: 100px;
}
.main__block_body {
    display: flex;
    justify-content: space-between;
    gap: 56px;
}
.main__block_content {
    flex: 0 1 50%;
}
.main__block_subtitle {
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $text-light-color;
    display: inline-block;
    position: relative;
}
.main__block_subtitle:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -7px;
    left: 0;
    background-color: $teal-color;
}
.main__block_subtitle:not(:last-child) {
    margin-bottom: 68px;
}
.main__block_title {
    font-weight: 700;
    font-size: 55px;
    line-height: 110%;
    color: $text-light-color;
    opacity: 0;
    transition: all 0.6s ease 0s;
    transform: translate(-70%, 0);
}
.main__block_title._active {
    opacity: 1;
    transition: all 0.6s ease 0.5s;
    transform: translate(0, 0);
}
.main__block_title:not(:last-child) {
    margin-bottom: 22px;
}
.main__block_text {
    font-size: 22px;
    line-height: 150%;
    color: $text-light-color;
    opacity: 0;
    transition: all 0.6s ease 0s;
    transform: translate(0, 50%);
}
.main__block_text._active {
    opacity: 1;
    transition: all 0.6s ease 1s;
    transform: translate(0, 0);
}
.main__block_text:not(:last-child) {
    margin-bottom: 22px;
}
.main__block_bywho {
    font-size: 17px;
    line-height: 159%;
    color: #B2B2BF;
}
.main__block_bywho:not(:last-child) {
    margin-bottom: 48px;
}
.button {
    font-size: 18px;
    display: inline-block;
    line-height: 150%;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    color: #1C1C33;
    background: $teal-color;
    border-radius: 4px;
    padding: 16px 24px;
    transition: all 0.3s ease 0s;
}
.button:hover {
    background: $teal-color-hover;
}
.main__block_image {
    padding-left: 20px;
    flex: 0 1 50%;
}
.main__block_image_img {
    position: relative;
    padding-bottom: 100%;
    max-width: 547px; 
    z-index: 3;
}
.main__block_image_img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.main__block_image img {
    opacity: 0;
    transform: translate(100%, 0);
    transition: all 0.8s ease 1s;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
    @media (min-width:425px) {
        animation-name: levitation-big;
    }
    @media (max-width:425px) {
        animation-name: levitation-small;
    }
}
.main__block_image._active img {
    opacity: 1;
    transform: translate(0, 0);
}
@media(max-width:1024px) {
    .main__block_body {
        gap: 15px;
    }
    .page__main__block {
        background-color: $blue-main-color;
        padding-top: 150px;
        padding-bottom: 100px;
    }
}
@media(max-width:871px) {
    .main__block_subtitle:not(:last-child) {
        margin-bottom: 30px;
    }
    .main__block_content {
        flex: 1 1 100%;
        width: 100%;
        text-align: center;
    }
    .main__block_button {
        width: 70%;
    }
    .main__block_body {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }
    .main__block_image {
        padding-left: 0;
        flex: 1 1 100%;
        width: 85%;
    }
    .main__block_image_img {
        position: relative;
        padding-bottom: 100%;
        max-width: inherit; 
    }
    .main__block_bywho:not(:last-child) {
        margin-bottom: 30px;
    }
    .main__block_title {
        font-size: 40px;
    }
}
@media(max-width:425px) {
    .main__block_button {
        width: 100%;
    }
    .main__block_image {
        width: 100%;
    }
    .page__main__block {
        padding-bottom: 15px;
    }
}
//========================================================================
.courses {
    padding-top: 70px;
    padding-bottom: 145px;
    background-color: $blue-main-color;
}
.courses__body_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.courses__title {
    opacity: 0;
    transform: translate(0, 100%);
    transition: all 0.5s ease 0.3s;
    &._active {
        opacity: 1;
        transform: translate(0, 0);
    }
    font-weight: 700;
    font-size: 44px;
    line-height: 120%;
    text-align: center;
    color: $text-light-color;
    position: relative;
    @media(max-width:871px) {
        font-size: 42px;
    }
    @media(max-width:425px) {
        font-size: 40px;
    }
    &:not(:last-child) {
        margin-bottom: 69px;
        @media(max-width:871px) {
            margin-bottom: 30px;
        }
    }
    &::after {
        content: "";
        position: absolute;
        width: 43.47%;
        height: 2px;
        left: 0;
        bottom: -17px;
        margin: 0 auto;
        background: #57D9A6;
        transform: translate(63%, 0);
    }
}
.courses__text {
    overflow: hidden;
    &:not(:last-child) {
        margin-bottom: 46px;
        @media(max-width:871px) {
            margin-bottom: 30px;
        }
        @media(max-width:871px) {
            margin-bottom: 30px;
        }
    }
}
.courses__text p {
    opacity: 0;
    transform: translate(0, 100%);
    transition: all 0.5s ease 0.4s;
    max-width: 644px;
    font-size: 22px;
    line-height: 150%;
    text-align: center;
    color: $text-light-color;
    @media(max-width:871px) {
        font-size: 20px;
    }
    @media(max-width:425px) {
        font-size: 18px;
    }
}
.courses__text._active p {
    opacity: 1;
    transform: translate(0, 0);
}
.courses_button {
    margin-bottom: 80px;
    @media(max-width:871px) {
        width: 70%;
        margin-bottom: 30px;
    }
    @media(max-width:425px) {
        width: 100%;
    }
}
.courses__columns {
    display: flex;
    justify-content: space-between;
    gap: 48px;
}
.courses__column {
    flex: 0 1 33.333%;
}
.courses__item {
    background-color: #fff;
    height: 100%;
}
.courses__item_image {
    overflow: hidden;
    position: relative;
    padding: 0 0 50.1% 0;
}
.courses__item_image img {
    transition: all 0.5s ease 0s;
    &:hover {
        transform: scale(1.07);
    }
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.courses__item_content {
    padding: 24px 22px 30px 22px;
    @media(max-width:871px) {
        padding: 15px 20px;
    }
}
.courses__item_title {
    a {
        font-size: 24px;
        line-height: 120%;
        color: #1C1C33;
        @media(max-width:871px) {
            font-size: 20px;
        }
        &:hover {
            text-decoration: underline;
        }
    }
    &:not(:last-child) {
        margin-bottom: 8px;
        @media(max-width:871px) {
            margin-bottom: 5px;
        }
    }
}
.courses__item_bywho {
    font-size: 17px;
    line-height: 159%;
    color: #4E4E65;
    &:not(:last-child) {
        margin-bottom: 15px;
        @media(max-width:871px) {
            margin-bottom: 5px;
        }
    }
    @media(max-width:871px) {
        font-size: 18px;
    }
}
.courses__item_price, .courses__item_price-new {
    font-size: 22px;
    line-height: 123%;
    color: #1C1C33;
}
.courses__item_price {
    &:not(:last-child) {
        margin-bottom: 16px;
        @media(max-width:871px) {
            margin-bottom: 5px;
        }
    }
}
.courses__item_link {
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #57D9A6;

}
.courses__item_link:hover {
    text-decoration: underline;
}
.courses__item_prices {
    display: flex;
    align-items: center;
    gap: 8px;
    &:not(:last-child) {
        margin-bottom: 16px;
        @media(max-width:871px) {
            margin-bottom: 5px;
        }
    }
}
.courses__item_price-old {
    font-size: 22px;
    line-height: 123%;
    color: #B2B2BF;
}
@media(max-width:1024px) {
    .courses__columns {
        gap: 20px;
    }
    .courses {
        padding-top: 0px;
        padding-bottom: 100px;
    }
}
@media(max-width:871px) {
    .courses__columns {
        margin: 0 auto;
        flex-direction: column;
        max-width: 70%;
        justify-content: center;
    }
}
@media(max-width:767px) {
    .courses__columns {
        max-width: 100%;
    }
}
//========================================================================
.recommendations__body {
    display: flex;
    align-items: center;
    background-color: $blue-darker-color;
}
.recommendations__image {

    flex: 0 1 50%;
}
.recommendations__image_img {
    position: relative;
    padding-bottom: 92.2%;
    z-index: 3;
}
.recommendations__image_img-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../images/recommendations/image.jpg") ;
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
}
// .recommendations__image_img img {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
// }
.recommendations__content {
    padding: 15px 48px;
    flex: 0 1 50%;
    @media(max-width:1100px) {
        padding: 10px 30px;

    }
}
.recommendations__title {
    opacity: 0;
    transform: translate(100%, 0);
    transition: all 0.5s ease 0.2s;
    &._active {
        opacity: 1;
        transform: translate(0, 0);
    }
    font-weight: 700;
    font-size: 44px;
    line-height: 120%;
    color: $text-light-color;
    &:not(:last-child) {
        margin-bottom: 68px;
        @media(max-width:1100px) {
            margin-bottom: 30px;
            font-size: 40px;
        }
        @media(max-width:871px) {
            margin-bottom: 20px;
        }
    }
}
.recommendations__text {
    opacity: 0;
    transform: translate(100%, 0);
    transition: all 0.5s ease 0.3s;
    &._active {
        opacity: 1;
        transform: translate(0, 0);
    }
    font-size: 22px;
    line-height: 150%;
    color: $text-light-color;
    &:not(:last-child) {
        margin-bottom: 46px;
        @media(max-width:1100px) {
            margin-bottom: 25px;
            font-size: 20px;
        }
        @media(max-width:871px) {
            font-size: 18px;
            margin-bottom: 15px;
        }
    }
}
.recommendations__button {
    @media(max-width:871px) {
        width: 70%;
    }
    @media(max-width:425px) {
        width: 100%;
    }
}
@media(max-width:871px) {
    .recommendations__image_img {
        padding-bottom: 50%;
    }
    .recommendations__image_img-img {
        background-position: center;
        background-size: cover;
    }
    .recommendations__body {
        flex-direction: column-reverse;
        align-items: center;
    }
    .recommendations__image {
        flex: 1 1 100%;
        width: 100%;
    }
    .recommendations__image_img {
        position: relative;
        z-index: 3;
    }
    .recommendations__image_img img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .recommendations__content {
        text-align: center;
        padding: 30px 15px;
        flex: 1 1 100%;
        width: 100%;
    }
}
//========================================================================
.workshops {
    overflow: hidden;
    background-color: $text-light-color;
    padding-top: 142px;
    padding-bottom: 145px;
}
.workshops__body_content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.workshops__title {
    opacity: 0;
    transform: translate(0, 100%);
    transition: all 0.5s ease 0.3s;
    &._active {
        opacity: 1;
        transform: translate(0, 0);
    }
    display: inline-block;
    font-weight: 700;
    font-size: 44px;
    line-height: 120%;
    color: #1C1C33;
    position: relative;
    @media(max-width:871px) {
        font-size: 42px;
    }
    @media(max-width:425px) {
        font-size: 40px;
    }
    &:not(:last-child) {
        margin-bottom: 69px;
        @media(max-width:871px) {
            margin-bottom: 30px;
        }
    }
    &::after {
        content: "";
        position: absolute;
        width: 43.47%;
        height: 2px;
        left: 0;
        bottom: -17px;
        margin: 0 auto;
        background: #57D9A6;
        transform: translate(63%, 0);
    }
}
.workshops__text {
    overflow: hidden;
    &:not(:last-child) {
        margin-bottom: 46px;
        @media(max-width:871px) {
            margin-bottom: 30px;
        }
        @media(max-width:871px) {
            margin-bottom: 30px;
        }
    }
}
.workshops__text p {
    opacity: 0;
    transform: translate(0, 100%);
    transition: all 0.5s ease 0.4s;
    max-width: 644px;
    font-size: 22px;
    line-height: 150%;
    color: #4E4E65;
    @media(max-width:871px) {
        font-size: 20px;
    }
    @media(max-width:425px) {
        font-size: 18px;
    }

}
.workshops__text._active p {
    opacity: 1;
    transform: translate(0, 0);
}
.workshops_button {
    margin-bottom: 80px;
    @media(max-width:871px) {
        width: 70%;
        margin-bottom: 30px;
    }
    @media(max-width:425px) {
        width: 100%;
    }
}
.workshops__columns {
    display: flex;
    justify-content: center;
    gap: 50px;
}
.workshops__column {
    flex: 0 1 33.333%;
}
.workshops__column._active {
    .workshops__item {
        opacity: 1;
        transform: translate(0, 0);
    }
}
.workshops__item {
    opacity: 0;
    transition: all 0.8s ease 0.4s;
    transform: translate(0, 120%);
    height: 100%;
    background-color: #fff;
    padding: 24px;
}
.workshops__item_title {
    a {
        font-weight: 700;
        font-size: 24px;
        line-height: 120%;
        color: #1C1C33;
        @media(max-width:871px) {
            font-size: 20px;
        }
        &:hover {
            text-decoration: underline;
        }
    }
    &:not(:last-child) {
        margin-bottom: 11px;
        @media(max-width:871px) {
            margin-bottom: 5px;
        }
    }
}
.workshops__item_text {
    font-size: 18px;
    line-height: 150%;
    color: #4E4E65;
    &:not(:last-child) {
        margin-bottom: 28px;
        @media(max-width:871px) {
            margin-bottom: 7px;
        }
    }
    @media(max-width:871px) {
        font-size: 18px;
    }
}

.workshops__item_link {
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #57D9A6;
    &:hover {
        text-decoration: underline;
    }
}


@media(max-width:1024px) {
    .workshops__columns {
        gap: 20px;
    }
    .workshops {
        padding-top: 30px;
        padding-bottom: 70px;
    }
}
@media(max-width:871px) {
    .workshops__columns {
        margin: 0 auto;
        flex-direction: column;
        max-width: 70%;
        justify-content: center;
    }
}
@media(max-width:767px) {
    .workshops__columns {
        max-width: 100%;
    }
}
//========================================================================
.reviews {
    background-color: #57D9A6;
}
.reviews__body {
    padding: 80px;

    @media(max-width:1024px) {
        padding: 40px;
    }
    @media(max-width:768px) {
        padding: 20px 0;
    }
}
.slide-swiper-reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.slide-swiper-reviews__stars {
    display: flex;
    justify-content: center;
    align-items: center;
    &:not(:last-child) {
        margin-bottom: 43px;
        @media(max-width:1024px) {
            margin-bottom: 30px;
        }
        @media(max-width:768px) {
            margin-bottom: 20px;
        }
    }
}
.slide-swiper-reviews__text {
    font-style: italic;
    text-align: center;
    font-weight: 400;
    font-size: 28px;
    line-height: 150%;
    margin-bottom: 37px;
    color: #1C1C33;
        @media(max-width:1024px) {
            font-size: 24px;
            margin-bottom: 28px;
        }
        @media(max-width:768px) {
            font-size: 20px;
            margin-bottom: 20px;
        }
}
.slide-swiper-reviews__bywho {
    text-align: center;
    font-size: 18px;
    line-height: 150%;
    color: #4E4E65;
    margin-bottom: 100px;
    @media(max-width:1024px) {
        margin-bottom: 70px;
    }
    @media(max-width:768px) {
        margin-bottom: 50px;
    }
}
.swiper-reviews__pagination .swiper-pagination-bullet {
    width: 18px;
    height: 18px;
    background: rgba(34, 34, 34, 0.4);
    border-radius: 9px;
    transition: all 0.3s ease 0s;
    @media (max-width: 767px) {
        width: 12px;
        height: 12px;
    }
}
.swiper-reviews__pagination .swiper-pagination-bullet-active {
    width: 18px;
    height: 18px;
    background: #222222;
    border-radius: 9px;
    @media (max-width: 767px) {
        width: 12px;
        height: 12px;
    }
}
//========================================================================
.teaching {
    background-color: $blue-darker-color;
    padding-top: 109px;
    padding-bottom: 88px;
}
.teaching__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 56px;
}
.teaching__content {
    flex: 0 1 50%;
}
.teaching__title {
    opacity: 0;
    transform: translate(100%, 0);
    transition: all 0.5s ease 0.2s;
    &._active {
        opacity: 1;
        transform: translate(0, 0);
    }
    display: inline-block;
    position: relative;
    font-weight: 700;
    font-size: 55px;
    line-height: 110%;
    color: $text-light-color;
}
.teaching__title:not(:last-child) {
    margin-bottom: 68px;
}
.teaching__title:after {
    content: "";
    position: absolute;
    width: 35%;
    height: 2px;
    bottom: -17px;
    left: 0;
    background-color: $teal-color;
}

.teaching__text {
    opacity: 0;
    transform: translate(100%, 0);
    transition: all 0.5s ease 0.3s;
    &._active {
        opacity: 1;
        transform: translate(0, 0);
    }
    font-size: 22px;
    line-height: 150%;
    color: $text-light-color;
}
.teaching__text:not(:last-child) {
    margin-bottom: 46px;
}
.teaching__image {
    padding-left: 20px;
    flex: 0 1 50%;
}
.teaching__image_img {
    position: relative;
    padding-bottom: 100%;
    max-width: 547px; 
    z-index: 3;
    animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
    @media (min-width:425px) {
        animation-name: levitation-middle;
    }
    @media (max-width:425px) {
        animation-name: levitation-small;
    }
}
.teaching__image_img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}


@media(max-width:1024px) {
    .teaching__body {
        gap: 15px;
    }
    .teaching {
        padding-top: 70px;
        padding-bottom: 70px;
    }
}
@media(max-width:871px) {
    .teaching__title:after {
        width: 70%;
        transform: translate(20%, 0);
        bottom: -10px;
    }
    .teaching {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .teaching__content {
        flex: 1 1 100%;
        width: 100%;
        text-align: center;
    }
    .teaching__button {
        width: 70%;
    }
    .teaching__body {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }
    .teaching__image {
        padding-left: 0;
        flex: 1 1 100%;
        width: 85%;
    }
    .teaching__image_img {
        position: relative;
        padding-bottom: 100%;
        max-width: inherit; 
    }
    .teaching__title {
        font-size: 40px;
    }
}
@media(max-width:425px) {
    .teaching__button {
        width: 100%;
    }
    .teaching__image {
        width: 100%;
    }
}
//========================================================================
.articles {
    overflow: hidden;
    padding-top: 142px;
    padding-bottom: 103px;
    background-color: $text-light-color;
}
.articles__body_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.articles__title {
    opacity: 0;
    transform: translate(0, 100%);
    transition: all 0.5s ease 0.3s;
    &._active {
        opacity: 1;
        transform: translate(0, 0);
    }
    font-weight: 700;
    font-size: 44px;
    line-height: 120%;
    text-align: center;
    color: #1C1C33;
    position: relative;
    @media(max-width:871px) {
        font-size: 42px;
    }
    @media(max-width:425px) {
        font-size: 40px;
    }
    &:not(:last-child) {
        margin-bottom: 69px;
        @media(max-width:871px) {
            margin-bottom: 30px;
        }
    }
    &::after {
        content: "";
        position: absolute;
        width: 43.47%;
        height: 2px;
        left: 0;
        bottom: -17px;
        margin: 0 auto;
        background: #57D9A6;
        transform: translate(63%, 0);
    }
}
.articles__text {
    overflow: hidden;
    &:not(:last-child) {
        margin-bottom: 46px;
        @media(max-width:871px) {
            margin-bottom: 30px;
        }
        @media(max-width:871px) {
            margin-bottom: 30px;
        }
    }
}
.articles__text p {
    opacity: 0;
    transform: translate(0, 100%);
    transition: all 0.5s ease 0.4s;
    max-width: 644px;
    font-size: 22px;
    line-height: 150%;
    text-align: center;
    color: #4E4E65;
    @media(max-width:871px) {
        font-size: 20px;
    }
    @media(max-width:425px) {
        font-size: 18px;
    }
}
.articles__text._active p {
    opacity: 1;
    transform: translate(0, 0);
}
.articles_button {
    margin-bottom: 80px;
    @media(max-width:871px) {
        width: 70%;
        margin-bottom: 30px;
    }
    @media(max-width:425px) {
        width: 100%;
    }
}
.articles__columns {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.articles__column {
    flex: 0 1 33.333%;
}
.articles__item {
    background-color: #fff;
    height: 100%;
    opacity: 0;
}
.articles__column:nth-child(1) .articles__item {
    transform: translate(-300%, 0);
    transition: all 0.6s ease 0.7s;
}
.articles__column:nth-child(2) .articles__item {
    transform: translate(-200%, 0);
    transition: all 0.6s ease 0.45s;
}
.articles__column:nth-child(3) .articles__item {
    transform: translate(-100%, 0);
    transition: all 0.6s ease 0.2s;
}
.articles__column._active {
    .articles__item {
        opacity: 1;
        transform: translate(0, 0);
    }
}
.articles__item_image {
    overflow: hidden;
    position: relative;
    padding: 0 0 50.1% 0;
}
.articles__item_image img {
    transition: all 0.5s ease 0s;
    &:hover {
        transform: scale(1.07);
    }
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.articles__item_content {
    padding: 24px 24px 70px 23px;
    @media(max-width:871px) {
        padding: 15px 20px;
    }
}
.articles__item_date {
    font-size: 17px;
    line-height: 159%;
    color: #4E4E65;
    &:not(:last-child) {
        margin-bottom: 22px;
        @media(max-width:871px) {
            margin-bottom: 7px;
        }
    }
}
.articles__item_title {
    a {
        &:hover {
            text-decoration: underline;
        }
        font-size: 24px;
        line-height: 120%;
        color: #1C1C33;
        @media(max-width:871px) {
            font-size: 20px;
        }
    }
    &:not(:last-child) {
        margin-bottom: 8px;
        @media(max-width:871px) {
            margin-bottom: 5px;
        }
    }
}
.articles__item_bywho {
    font-size: 17px;
    line-height: 159%;
    color: #4E4E65;
    @media(max-width:871px) {
        font-size: 18px;
    }
}

@media(max-width:1024px) {
    .articles__columns {
        gap: 20px;
    }
    .articles {
        padding-top: 70px;
        padding-bottom: 100px;
    }
}
@media(max-width:871px) {
    .articles {
        padding-top: 50px;
        padding-bottom: 70px;
    }
    .articles__columns {
        margin: 0 auto;
        flex-direction: column;
        max-width: 70%;
        justify-content: center;
    }
}
@media(max-width:767px) {
    .articles__columns {
        max-width: 100%;
    }
}
//========================================================================
.submit {
    position: relative;
    z-index: 3;
}
.submit__body {
    background-color: $teal-color;
    padding: 78px 0 95px 0;
    border-radius: 4px;
    overflow: hidden;
}
.submit__title {
    opacity: 0;
    transform: translate(0, 100%);
    transition: all 0.5s ease 0.3s;
    &._active {
        opacity: 1;
        transform: translate(0, 0);
    }
    font-weight: 700;
    font-size: 44px;
    line-height: 120%;
    text-align: center;
    color: #1C1C33;
    margin-bottom: 57px;
    @media(max-width:871px) {
        font-size: 40px;
        margin-bottom: 25px;
    }
}
.submit__form_body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.submit__form__input {
    opacity: 0;
    transform: translate(-100%, 0);
    transition: all 0.8s ease 0.4s;
    &._active {
        opacity: 1;
        transform: translate(0, 0);
    }
    flex: 1 1 auto;
    padding: 5px 24px;
    font-weight: 700;
    background-color: transparent;
    font-size: 20px;
    line-height: 264%;
    color: #1C1C33;
    border: 1px solid #1C1C33;
    border-radius: 4px;
    max-width: 400px;
    @media(max-width:871px) {
        padding: 0px 15px;
        font-size: 18px;
    }
}
::placeholder {
    font-weight: 700;
    font-size: 20px;
    line-height: 264%;
    color: #1C1C33;
}
.submit__form__button {
    opacity: 0;
    transform: translate(100%, 0);
    background-color: transparent;
    transition: all 0.8s ease 0.4s;
    &._active {
        opacity: 1;
        transform: translate(0, 0);
    }
    span {
        width: 100%;
        transition: all 0.5s ease 0s;
        display: inline-block;
        padding: 5px 24px;
        font-weight: 700;
        font-size: 20px;
        line-height: 264%;
        text-align: center;
        background: #1C1C33;
        border-radius: 4px;
        color: $teal-color;
        border: 1px solid #1C1C33;
        &:hover {
            background-color: transparent;
            color: #1C1C33;
        }
        @media(max-width:871px) {
            padding: 0 15px;
            font-size: 18px;
        }
    }
}
@media(max-width:767px) {
    .submit__form__input {
        max-width: inherit;
    }
    .submit__form_body {
        padding: 0 15px;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        gap: 15px;
    }
}
//========================================================================
.footer {
    background-color: $blue-darker-color;
    margin-top: -173px;
    padding-top: 318px;
    padding-bottom: 144px;
}
.footer__main {
    margin-top: 80px;
}
.footer__main__nav {
    display: flex;
    gap: 48px;
}
.footer__main__menu_body {
    flex: 0 1 25%;
}
.footer__main__menu_body-contacts {
    flex: 0 1 50%;
}
.footer__main_menu_label {
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $text-light-color;
    margin-bottom: 23px;
}
.footer__menu_item {
    &:not(:last-child) {
        margin-bottom: 16px;
    }
}
.footer__menu_link {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: $text-light-color;
    &:hover {
        text-decoration: underline;
    }
}
.footer__main_menu_label-bold {
    font-weight: 700;
}
.footer__main_contacts {
    display: flex;
    gap: 16px;
}
.footer__main_contacts_link {
    transition: all 0.5s ease 0s;
    &:hover {
        transform: scale(1.15);
    }
}
@media (max-width:1024px) {
    .footer {
        margin-top: -100px;
        padding-top: 150px;
        padding-bottom: 100px;
    }
}
@media (max-width:780px) {
    .footer__main_menu_label {
        font-size: 18px;
        margin-bottom: 20px;
    }
    .footer__menu_item {
        &:not(:last-child) {
            margin-bottom: 13px;
        }
    }
    .footer__menu_link {
        font-size: 20px;
    }
    .footer__main_contacts {
        display: flex;
        gap: 13px;
    }
    .footer__main__nav {
        justify-content: center;
        flex-wrap: wrap;
        column-gap:100px;
        row-gap: 50px;
    }
    .footer__main__menu_body {
        flex: 1 1 auto;
    }
    .footer__main__menu_body-contacts {
        flex: 1 1 auto;
    }
    .footer {
        padding-bottom: 50px;
    }
}
//========================================================================
.bottom {
    background-color: $blue-main-color;
}
.bottom__text_body {
    padding: 16px 0;
    display: flex;
    gap: 32px;
}
.bottom__text {
    font-size: 16px;
    line-height: 150%;
    color: #B2B2BF;
}
@media (max-width:780px) {
    .bottom__text_body {
        padding: 10px 0;
        gap: 25px;
    }
}